
// Colors
$purple-dark: #D321D5; // for header, footer and border bottom of h1
$purple-light: #FF11EC; // for buttons and comments
$black: #000;
$white: #FFF;

// Typography
$font-stack: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

// Breakpoints
$desktop-small: 1250px;
$tablet-land: 1024px;
$tablet-port: 768px;
$mobile: 667px;