section.featured{
	background-color: $white;
	padding: 2% 4%;
}

section.featured p{
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

article.box{
	margin: 0;
	padding: 0;
	position: relative;
	float: left;
	margin-left: 2.5%;
	margin-bottom: 1.2%;
}

article.box:nth-of-type(1){
	margin: 0;
}

.title_box{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 5%;
	background-color: $purple-light;
	text-align: center;
	cursor: pointer;
}

.title_box:hover{
	background-color: $black;
}

.title_box p{
	font-size: 1.5em;
	color: $white;
	font-weight: bold;
	width: 100%;
}

.box_big{
	width: 48%;
}

.box_small{
	width: 23%;
	text-align: center;
}

.box_small p{
	font-size: 0.9em;
	color: $white;
	font-weight: bold;
}